@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');
.container{
    width: 100%;
    height: 100vh;
    background:linear-gradient(130deg,#c4d4d8,rgb(68, 158, 213));
    padding-top: 50px;
    margin: auto;
}
.weather{
    max-width: 600px;
    min-width: 400px;
    height: 670px;
    padding: 30px;
    background:#fbfcfc ;
    margin: 50px auto;
    border-radius: 45px;
}

.search{
    padding: 30px;
}
.search input{
    border-radius: 35px;
    width: 600px;
    height: 65px;
    background-color: ghostwhite;
    border-style: none;
    color: black;
    padding: 10px 25px;
    font-size: 20px;
}

.info{
    border-radius: 12px;
    margin:30px 0px 10px 0px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.info h1{
    font-family: 'Raleway', sans-serif;
    color: #928d9a;
}

.cName{
    font-size: 26px;

}
.dot{
    font-size: 60px;
    color:  #928d9a;
}

.box{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    
}
.weatherState{
    margin-top: 12px;
    margin-left: 34px;
    font-size: 38px;
    font-weight: lighter;
}

.deg{
    font-size: 55px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.degreeBox{
    margin-top: 3px;
    width: 50%;
    border-radius: 56px;
    padding: 5px 25px 5px 25px;
    border: 2px solid rgb(149, 140, 140);
}

.temp{
   margin-top: 39px;
   display: flex;
   justify-content: center;
   font-family:'Raleway', sans-serif ;
   font-size: 21px;
   color: #848089;
   font-weight: 400;
   margin-bottom: 25px;
}

.min{
    margin-left: 95px;
}
label{
    font-size: 33px;
}
h3{
    margin-bottom: 5px;
}

.icon{
    margin: auto;
    margin-top: 35px;
    border-radius: 200%;
    background-color:  #121111;
    width: 150px;
    height: 150px;
}
.icon img{
    margin: auto;
    height: 150px;
    width: 150px;
}
